<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joyrasmussen.hw5_group34">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameDetailsActivity"
            android:label="@string/gameDets">
            <intent-filter>
                <action android:name="com.example.joyrasmussen.hw5_group34.intent.action.Details" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SimilarGames">
            <intent-filter>
                <action android:name="com.example.joyrasmussen.hw5_group34.intent.action.Similar" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Webview" >
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http"
                android:host="*.youtube.com"
                android:pathPrefix="\watch"/>
            <data android:scheme="https"
                android:host="*.youtube.com"
                android:pathPrefix="\watch"/>

        </activity>
    </application>

</manifest>